.controlButton {
  background: #afafaf;
  border-radius: 12px;
  border: none;
  padding: 0;
  cursor: pointer;
  outline: none;
}

.controlButton span {
  display: block;
  padding: 25px;
  border-radius: 12px;
  font-size: 1.25rem;
  background: #333532;
  color: #c4c4c4;
  transform: translateY(-3px) translateX(-3px);
}

.isActive span {
  transform: none !important;
}

.controlButton:active span {
  transform: none;
}
