.screenWrapper {
  height: calc(100% - 90px);
  background: #161616;
  border-radius: 20px;
  padding: 40px 70px;
}

.battery {
  padding: 8px;
  background: #f3183f;
  border: 2px solid #7f0928;
  border-radius: 100px;
  position: absolute;
  margin-top: 100px;
  margin-left: -40px;
}

.screen {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.screen,
.battery {
  transition: 1s ease;
  opacity: 0;
}
