.spaceButtonOnScreen {
  background: black;
  padding: 5px 10px;
  color: #afafaf;
  border-radius: 5px;
}

.continueScreen {
  text-align: center;
  color: white;
  font-weight: bold;
  font-size: 16px;
  z-index: 1;
  position: absolute;
}

.continueScreen div {
  margin-bottom: 12px;
  padding: 4px 7px;
}

.continueScreen a {
  color: white;
}

@media screen and (max-width: 600px) {
  .continueScreen {
    font-size: 9px;
  }

  .continueScreen a {
    font-size: 9px;
  }
}

@media screen and (max-height: 840px) {
  .continueScreen {
    font-size: 11.5px;
  }
}
