.diagonalLines {
  display: flex;
  position: relative;
  top: 90px;
  left: 5px;
}

.diagonalLines div {
  width: 28px;
  height: 28px;
  position: relative;
}

.diagonalLines div:after {
  content: "";
  position: absolute;
  border-radius: 20px;
  border-top: 10px solid #afafaf7d;
  width: 40px;
  transform: rotate(-60deg);
}
