.snakeBlinks {
  animation-duration: 0.5s;
  animation-name: snakeBlinksKeyFrame;
  animation-iteration-count: infinite;
}

@keyframes snakeBlinksKeyFrame {
  from {
    background: #ffffff;
  }

  to {
    background: #3a3c39;
  }
}

.gameplayScreen {
  transition: 0.5s ease;
  width: calc(100% - 40px);
  height: calc(100% - 40px);
  border-radius: 20px;
  background: #333532;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

.gameplayScreen div {
  background: #3a3c39;
  border: 1px solid #333532;
}
