.gameboy {
  display: flex;
  flex-direction: column;
  padding: 20px;
  background: var(--main-grey);
  border-radius: 20px;
  border-bottom-right-radius: 100px;
  width: var(--desktop-width-gameboy);
  height: var(--desktop-height-gameboy);
  box-shadow: 10px 10px 0px #afafaf, 15px 15px 0px #afafaf, 3px 3px 0px #afafaf,
    4px 4px 0px #afafaf, 5px 5px 0px #afafaf, 6px 6px 0px #afafaf;
}

.upperBlock {
  width: 100%;
  height: 50%;
}

.downBlock {
  width: 100%;
  height: 50%;
}

@media screen and (max-width: 600px) {
  .gameboy {
    width: var(--mobile-width-gameboy);
    height: var(--mobile-height-gameboy);
  }
}
