.spaceButton {
  position: relative;
  display: flex;
  justify-content: end;
  margin-top: 60px;
  margin-right: 50px;
}

.spaceButton span {
  padding: 35px;
  transform: translateY(-4px) translateX(-4px);
}
